@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Dancing+Script:wght@500&family=Montserrat:ital@1&family=Playfair+Display:ital,wght@1,500&family=Poppins:ital,wght@0,100;1,200&family=Romanesco&family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/Banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.navbar{
    width: 100%;
    height: 100px;
    /* background: yellowgreen; */
}

ul{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    list-style: none;
    
}

ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px;
    font-family: Poppins;
    text-shadow: 0 0 1px black;
}

ul a:hover{
    font-size: 20px;
    color: yellow;
    transition: 0.5s ease-in-out;
}

.textarea{
    width: 600px;
    position: relative;
    top: 200px;
    padding: 20px;
}

.textarea h1{
    width: 1000px;
    color: white;
    font-size: 90px;
    text-align: justify;
    text-shadow: 0 0 1px black;
}

.textarea p{
    color: white;
    font-size: 20px;
    text-shadow: 0 0 1px black;
}

.footer{
    width: 100%;
    height: 100px;
    background: black;
    position: relative;
    top: 450px;
}

.footer h3{
    color: white;
    text-align: center;
    position: relative;
    
}

#biz{
    font-family: Dancing Script;
    font-size: 25px;
    color: sandybrown;
}


@media(max-width:500px){
    .container{
        width: 500px;
        height: auto;
        background-image: url(images/Catering1.jpg);
        background-size: cover;
        background-position: center;
    }

    ul{
        display: flex;
        justify-content: center;
    }

    ul a{
        position: relative;
        left: -6opx;
    }

    .textarea h1{
        font-size: 30px;
        align-items: center;
        position: relative;
        left: -80px;
        top: -20px;
        width: 300px;
        text-shadow: 0 0 2px gray;     

    }

    .textarea p{
        font-size: 15px;
        text-align: center;
        width: 300px;
        position: relative;
        left: -30px;
        text-shadow: 0 0 3px gray;
    }
}